.env
*.key
*.pem

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# dbt generated folders
gold/target/
gold/dbt_packages/
gold/logs/

# Logs
logs/


# Airflow
airflow.db
airflow/logs/

# Data files — don't commit raw NHS data
*.csv
*.parquet
data/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/